<nav class="category-nav">
  <div class="category-item">
    <a class="category-nav__link"> ساعت </a>

    <div class="submenu">
      <a class="category-link" data-category="men-watch"> ساعت مردانه </a>

      <a class="category-link" data-category="women-watch"> ساعت زنانه </a>

      <a class="category-link" data-category="set-watch"> ساعت ست </a>
    </div>
  </div>

  <div class="category-item">
    <a class="category-nav__link"> اکسسوری </a>

    <div class="submenu">
      <a class="category-link" data-category="bracelet"> دستبند </a>

      <a class="category-link" data-category="necklace"> گردنبند </a>

      <a class="category-link" data-category="rings"> انگشتر </a>

      <a class="category-link" data-category="lighter"> فندک </a>
    </div>
  </div>
  <div class="category-item">
    <a class="category-nav__link"> پارچه ای </a>

    <div class="submenu">
      <a class="category-link" data-category="handkerchief">دستمال سر </a>

      <a class="category-link" data-category="scarf"> اسکارف </a>

      <a class="category-link" data-category="belt"> کمربند </a>
    </div>
  </div>
</nav>
